<?xml version="1.0"?>
<config>
    <crontab>
        <jobs>
            <cronjob_code>
                <schedule><cron_expr>*/15 * * * *</cron_expr></schedule>
                <run><model>xb2b/observer::checkQuotationExpired</model></run>
            </cronjob_code>
        </jobs>
    </crontab>
    <modules>
        <SM_XB2b>
            <version>1.0.2</version>
        </SM_XB2b>
    </modules>
    <global>
        <helpers>
            <xb2b>
                <class>SM_XB2b_Helper</class>
            </xb2b>
        </helpers>
        <blocks>
            <xb2b>
                <class>SM_XB2b_Block</class>
            </xb2b>
            <adminhtml>
                <rewrite>
                    <customer_group_edit_form>SM_XB2b_Block_Adminhtml_Override_Customergroup</customer_group_edit_form>
                    <permissions_user_edit_tabs>SM_XB2b_Block_Adminhtml_Permissions_User_Edit_Tabs</permissions_user_edit_tabs>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <xb2b>
                <class>SM_XB2b_Model</class>
                <resourceModel>xb2b_resource</resourceModel>
            </xb2b>
            <xb2b_resource>
                <class>SM_XB2b_Model_Resource</class>
                <entities>
                    <quotation>
                        <table>sm_quotation</table>
                    </quotation>
                    <setting>
                        <table>sm_setting</table>
                    </setting>
                    <quotecomment>
                        <table>sm_quotecomment</table>
                    </quotecomment>
                    <assignment>
                        <table>sm_assignment</table>
                    </assignment>
                    <groupassignment>
                        <table>sm_groupassignment</table>
                    </groupassignment>
                </entities>
            </xb2b_resource>
            <catalog>
                <rewrite>
                    <product>SM_XB2b_Model_Product</product>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <xb2b_setup>
                <setup>
                    <module>SM_XB2b</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </xb2b_setup>
            <xb2b_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </xb2b_write>
            <xb2b_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </xb2b_read>
        </resources>
        <events>
            <admin_system_config_changed_section_xb2b>
                <observers>
                    <sm_core_init_service>
                        <type>singleton</type>
                        <class>smcore/observer</class>
                        <method>refreshStatus</method>
                    </sm_core_init_service>
                </observers>
            </admin_system_config_changed_section_xb2b>

            <customer_group_save_after>
                <observers>
                    <xb2b_customer_group_save_after>
                        <type>singleton</type>
                        <class>xb2b/observer</class>
                        <method>customerGroupSaveAfter</method>
                    </xb2b_customer_group_save_after>
                </observers>
            </customer_group_save_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sm_xb2b before="Mage_Adminhtml">SM_XB2b_Adminhtml</sm_xb2b>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sales>
                <children>
                    <xb2b module="xb2b">
                        <title>B2B</title>
                        <children>
                            <quotation>
                                <title>Quotation</title>
                                <action>adminhtml/xb2b</action>
                            </quotation>
                            <config>
                                <title>Settings</title>
                                <sort_order>1</sort_order>
                                <action>adminhtml/system_config/edit/section/xb2b</action>
                            </config>
                        </children>
                    </xb2b>
                </children>
            </sales>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <sales>
                            <children>
                                <xb2b>
                                    <title>B2B</title>
                                    <children>
                                        <mainquotation>
                                            <title>SmartOSC X-B2B</title>
                                        </mainquotation>
                                        <settingb2b translate="title">
                                            <title>Settings</title>
                                        </settingb2b>
                                    </children>
                                </xb2b>
                            </children>
                        </sales>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <xb2b>
                                            <title>X-B2B Module Option</title>
                                        </xb2b>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <xb2b>
                    <file>xb2b.xml</file>
                </xb2b>
            </updates>
        </layout>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <xb2b_controller_action_layout_load_before>
                        <class>xb2b/observer</class>
                        <method>adminBeforeLoadLayout</method>
                    </xb2b_controller_action_layout_load_before>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </adminhtml>
    <frontend>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <sm_xb2b>
                        <type>model</type>
                        <class>xb2b/observer</class>
                        <method>insertBlock</method>
                    </sm_xb2b>
                </observers>
            </core_block_abstract_to_html_before>

            <controller_action_layout_load_before>
                <observers>
                    <xb2b_controller_action_layout_load_before>
                        <class>xb2b/observer</class>
                        <method>beforeLoadLayout</method>
                    </xb2b_controller_action_layout_load_before>
                </observers>
            </controller_action_layout_load_before>
            
            <checkout_cart_add_product_complete>
                <observers>
                    <xb2b_checkout_cart_add_product_complete>
                        <class>xb2b/observer</class>
                        <method>whenCartChanged</method>
                    </xb2b_checkout_cart_add_product_complete>
                </observers>
            </checkout_cart_add_product_complete>
            
            <checkout_cart_update_items_after>
                <observers>
                    <xb2b_checkout_cart_update_items_after>
                        <class>xb2b/observer</class>
                        <method>whenCartChanged</method>
                    </xb2b_checkout_cart_update_items_after>
                </observers>
            </checkout_cart_update_items_after>
        </events>
        <layout>
            <updates>
                <sm_xb2b>
                    <file>xb2b.xml</file>
                </sm_xb2b>
            </updates>
        </layout>
        <routers>
            <xb2b>
                <use>standard</use>
                <args>
                    <module>SM_XB2b</module>
                    <frontName>xb2b</frontName>
                </args>
            </xb2b>
        </routers>
    </frontend>
    <default>
        <xb2b>
            <general>
                <enable_bulk_order>1</enable_bulk_order>
                <enable_one_click>1</enable_one_click>
                <enable_quotation>1</enable_quotation>
                <searching_by>entity_id,name,sku</searching_by>
                <chat_speed>3000</chat_speed>
            </general>
        </xb2b>
    </default>
</config> 